# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.gitattributes text
.gitignore      text
*.md            text

*.sql           text
*.png           binary
*.pdf           binary
